<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.wms.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.mall.wms.entity.GoodsEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic_urls" jdbcType="VARCHAR" property="picUrls" />
    <result column="detail_pic_urls" jdbcType="VARCHAR" property="detailPicUrls" />
    <result column="synopsis" jdbcType="VARCHAR" property="synopsis" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="is_real" jdbcType="TINYINT" property="isReal" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="check_by" jdbcType="BIGINT" property="checkBy" />
    <result column="check_time" jdbcType="INTEGER" property="checkTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, pic_urls, detail_pic_urls, synopsis, tag_id, category_id, weight, is_real, 
    market_price, purchase_price, point, supplier_id, `status`, delete_flag, check_status, 
    check_by, check_time, create_by, update_by, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=BIGINT}
    and delete_flag = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.wms.entity.GoodsEntity">
    insert into goods (id, `name`, pic_urls, 
      detail_pic_urls, synopsis, tag_id, 
      category_id, weight, is_real, 
      market_price, purchase_price, point, 
      supplier_id, `status`, delete_flag, 
      check_status, check_by, check_time, 
      create_by, update_by, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{picUrls,jdbcType=VARCHAR}, 
      #{detailPicUrls,jdbcType=VARCHAR}, #{synopsis,jdbcType=VARCHAR}, #{tagId,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{isReal,jdbcType=TINYINT}, 
      #{marketPrice,jdbcType=DECIMAL}, #{purchasePrice,jdbcType=DECIMAL}, #{point,jdbcType=INTEGER}, 
      #{supplierId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{deleteFlag,jdbcType=TINYINT}, 
      #{checkStatus,jdbcType=TINYINT}, #{checkBy,jdbcType=BIGINT}, #{checkTime,jdbcType=INTEGER}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.wms.entity.GoodsEntity">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="picUrls != null">
        pic_urls,
      </if>
      <if test="detailPicUrls != null">
        detail_pic_urls,
      </if>
      <if test="synopsis != null">
        synopsis,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="isReal != null">
        is_real,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrls != null">
        #{picUrls,jdbcType=VARCHAR},
      </if>
      <if test="detailPicUrls != null">
        #{detailPicUrls,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="isReal != null">
        #{isReal,jdbcType=TINYINT},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.wms.entity.GoodsEntity">
    update goods
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrls != null">
        pic_urls = #{picUrls,jdbcType=VARCHAR},
      </if>
      <if test="detailPicUrls != null">
        detail_pic_urls = #{detailPicUrls,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null">
        synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="isReal != null">
        is_real = #{isReal,jdbcType=TINYINT},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        check_by = #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.wms.entity.GoodsEntity">
    update goods
    set `name` = #{name,jdbcType=VARCHAR},
      pic_urls = #{picUrls,jdbcType=VARCHAR},
      detail_pic_urls = #{detailPicUrls,jdbcType=VARCHAR},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      tag_id = #{tagId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      is_real = #{isReal,jdbcType=TINYINT},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      point = #{point,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      check_status = #{checkStatus,jdbcType=TINYINT},
      check_by = #{checkBy,jdbcType=BIGINT},
      check_time = #{checkTime,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByCondition" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from goods
    where 1=1
    <if test="type == 1">
      and check_status = 0
    </if>
    <if test="type == 2">
      and check_status = 1
    </if>
    <if test="type == 3">
      and status = 0
    </if>
    <if test="type == 4">
      and status = 1
    </if>
    <if test="vague!=null">
      and name like concat('%',#{vague},'%')
    </if>
    <if test="categoryId!=null">
      and category_id=#{categoryId}
    </if>
  </select>

  <update id="updateByType">
    update goods
    <if test="type==1">
     set check_status = 0
    </if>
    <if test="type==2">
     set check_status = 1
    </if>
    <if test="type==3">
     set status = 1
    </if>
    <if test="type==4">
     set status = 2
    </if>
    where id = #{goodsId,jdbcType=INTEGER}
  </update>

  <select id="selectCount" resultType="java.lang.Long">
    select count(id)
    from goods
    where status=1
  </select>
  
  <select id="selectGetGoodsList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from goods
    where status=1
    order by weight
  </select>

  <select id="selectGoodsByName" resultType="com.mall.wms.entity.GoodsEntity">
    select
    <include refid="Base_Column_List"/>
    from goods
    <if test="name != null "></if>
    where name like concat(concat('%',#{phone}),'%')
    and status =1
    order by weight
  </select>
  <select id="selectGoodsByTag" parameterType="java.lang.Integer" resultType="com.mall.wms.entity.GoodsEntity">
    select
    <include refid="Base_Column_List"/>
    from goods
    where tag_id=#{tagId}
    and
    status =1
    order by weight
  </select>

  <select id="selectGoodsByVriety" parameterType="java.lang.Integer" resultType="com.mall.wms.entity.GoodsEntity">
    select
    <include refid="Base_Column_List"/>
    from goods
    where category_id=#{vrietyId}
    and
    status =1
    order by weight
  </select>
</mapper>