<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.wms.mapper.OrderDeliveryMapper">
  <resultMap id="BaseResultMap" type="com.mall.wms.entity.OrderDeliveryEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="delivery_status" jdbcType="TINYINT" property="deliveryStatus" />
    <result column="delivery_type" jdbcType="TINYINT" property="deliveryType" />
    <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany" />
    <result column="delivery_fee" jdbcType="DECIMAL" property="deliveryFee" />
    <result column="delivery_no" jdbcType="VARCHAR" property="deliveryNo" />
    <result column="delivery_url" jdbcType="VARCHAR" property="deliveryUrl" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="receiver_phone_area" jdbcType="VARCHAR" property="receiverPhoneArea" />
    <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone" />
    <result column="receiver_country" jdbcType="VARCHAR" property="receiverCountry" />
    <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
    <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
    <result column="receiver_district" jdbcType="VARCHAR" property="receiverDistrict" />
    <result column="receiver_street" jdbcType="VARCHAR" property="receiverStreet" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="check_by" jdbcType="BIGINT" property="checkBy" />
    <result column="check_time" jdbcType="INTEGER" property="checkTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, delivery_status, delivery_type, delivery_company, delivery_fee, delivery_no, 
    delivery_url, receiver, receiver_phone_area, receiver_phone, receiver_country, receiver_province, 
    receiver_city, receiver_district, receiver_street, receiver_address, delete_flag, 
    check_status, check_by, check_time, create_by, update_by, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_delivery
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_delivery
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.wms.entity.OrderDeliveryEntity">
    insert into order_delivery (id, order_id, delivery_status, 
      delivery_type, delivery_company, delivery_fee, 
      delivery_no, delivery_url, receiver, 
      receiver_phone_area, receiver_phone, receiver_country, 
      receiver_province, receiver_city, receiver_district, 
      receiver_street, receiver_address, delete_flag, 
      check_status, check_by, check_time, 
      create_by, update_by, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{deliveryStatus,jdbcType=TINYINT}, 
      #{deliveryType,jdbcType=TINYINT}, #{deliveryCompany,jdbcType=VARCHAR}, #{deliveryFee,jdbcType=DECIMAL}, 
      #{deliveryNo,jdbcType=VARCHAR}, #{deliveryUrl,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{receiverPhoneArea,jdbcType=VARCHAR}, #{receiverPhone,jdbcType=VARCHAR}, #{receiverCountry,jdbcType=VARCHAR}, 
      #{receiverProvince,jdbcType=VARCHAR}, #{receiverCity,jdbcType=VARCHAR}, #{receiverDistrict,jdbcType=VARCHAR}, 
      #{receiverStreet,jdbcType=VARCHAR}, #{receiverAddress,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, 
      #{checkStatus,jdbcType=TINYINT}, #{checkBy,jdbcType=BIGINT}, #{checkTime,jdbcType=INTEGER}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.wms.entity.OrderDeliveryEntity">
    insert into order_delivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="deliveryStatus != null">
        delivery_status,
      </if>
      <if test="deliveryType != null">
        delivery_type,
      </if>
      <if test="deliveryCompany != null">
        delivery_company,
      </if>
      <if test="deliveryFee != null">
        delivery_fee,
      </if>
      <if test="deliveryNo != null">
        delivery_no,
      </if>
      <if test="deliveryUrl != null">
        delivery_url,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="receiverPhoneArea != null">
        receiver_phone_area,
      </if>
      <if test="receiverPhone != null">
        receiver_phone,
      </if>
      <if test="receiverCountry != null">
        receiver_country,
      </if>
      <if test="receiverProvince != null">
        receiver_province,
      </if>
      <if test="receiverCity != null">
        receiver_city,
      </if>
      <if test="receiverDistrict != null">
        receiver_district,
      </if>
      <if test="receiverStreet != null">
        receiver_street,
      </if>
      <if test="receiverAddress != null">
        receiver_address,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="deliveryStatus != null">
        #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryType != null">
        #{deliveryType,jdbcType=TINYINT},
      </if>
      <if test="deliveryCompany != null">
        #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null">
        #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryNo != null">
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryUrl != null">
        #{deliveryUrl,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhoneArea != null">
        #{receiverPhoneArea,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverCountry != null">
        #{receiverCountry,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null">
        #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverStreet != null">
        #{receiverStreet,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.wms.entity.OrderDeliveryEntity">
    update order_delivery
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="deliveryStatus != null">
        delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="deliveryType != null">
        delivery_type = #{deliveryType,jdbcType=TINYINT},
      </if>
      <if test="deliveryCompany != null">
        delivery_company = #{deliveryCompany,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFee != null">
        delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      </if>
      <if test="deliveryNo != null">
        delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryUrl != null">
        delivery_url = #{deliveryUrl,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhoneArea != null">
        receiver_phone_area = #{receiverPhoneArea,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null">
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="receiverCountry != null">
        receiver_country = #{receiverCountry,jdbcType=VARCHAR},
      </if>
      <if test="receiverProvince != null">
        receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      </if>
      <if test="receiverCity != null">
        receiver_city = #{receiverCity,jdbcType=VARCHAR},
      </if>
      <if test="receiverDistrict != null">
        receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      </if>
      <if test="receiverStreet != null">
        receiver_street = #{receiverStreet,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        check_by = #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.wms.entity.OrderDeliveryEntity">
    update order_delivery
    set order_id = #{orderId,jdbcType=BIGINT},
      delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      delivery_type = #{deliveryType,jdbcType=TINYINT},
      delivery_company = #{deliveryCompany,jdbcType=VARCHAR},
      delivery_fee = #{deliveryFee,jdbcType=DECIMAL},
      delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      delivery_url = #{deliveryUrl,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      receiver_phone_area = #{receiverPhoneArea,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      receiver_country = #{receiverCountry,jdbcType=VARCHAR},
      receiver_province = #{receiverProvince,jdbcType=VARCHAR},
      receiver_city = #{receiverCity,jdbcType=VARCHAR},
      receiver_district = #{receiverDistrict,jdbcType=VARCHAR},
      receiver_street = #{receiverStreet,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      check_status = #{checkStatus,jdbcType=TINYINT},
      check_by = #{checkBy,jdbcType=BIGINT},
      check_time = #{checkTime,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectOrderDeliveryByOrderIds" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from order_delivery
    where delete_flag=0
    <if test="ids!=null and ids.size>0">
      and order_id in
      <foreach collection="orderIds" item="id" index="index" separator=","  open="(" close=")">
        #{id}
      </foreach>
    </if>
  </select>
</mapper>