<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.wms.mapper.UserOrderMapper">
  <resultMap id="BaseResultMap" type="com.mall.wms.entity.UserOrderEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="order_price" jdbcType="INTEGER" property="orderPrice" />
    <result column="discounted_price" jdbcType="INTEGER" property="discountedPrice" />
    <result column="sale_channel" jdbcType="INTEGER" property="saleChannel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_time" jdbcType="INTEGER" property="orderTime" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="ship_time" jdbcType="INTEGER" property="shipTime" />
    <result column="confirm_time" jdbcType="INTEGER" property="confirmTime" />
    <result column="cancel_time" jdbcType="INTEGER" property="cancelTime" />
    <result column="cancel_remark" jdbcType="VARCHAR" property="cancelRemark" />
    <result column="cancel_type" jdbcType="TINYINT" property="cancelType" />
    <result column="cancel_price" jdbcType="INTEGER" property="cancelPrice" />
    <result column="refund_num" jdbcType="INTEGER" property="refundNum" />
    <result column="refund_time" jdbcType="INTEGER" property="refundTime" />
    <result column="refund_remark" jdbcType="VARCHAR" property="refundRemark" />
    <result column="refund_point" jdbcType="INTEGER" property="refundPoint" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="check_by" jdbcType="BIGINT" property="checkBy" />
    <result column="check_time" jdbcType="INTEGER" property="checkTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, delivery_id, order_type, order_status, goods_count, order_price, discounted_price,
    sale_channel, remark, user_id, order_time, pay_time, ship_time, confirm_time, cancel_time, 
    cancel_remark, cancel_type, cancel_price, refund_num, refund_time, refund_remark, 
    refund_point, delete_flag, check_status, check_by, check_time, create_by, update_by, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.wms.entity.UserOrderEntity">
    insert into user_order (id, order_no, delivery_id,
      order_type, order_status, goods_count, 
      order_price, discounted_price, sale_channel, 
      remark, user_id, order_time, 
      pay_time, ship_time, confirm_time, 
      cancel_time, cancel_remark, cancel_type, 
      cancel_price, refund_num, refund_time, 
      refund_remark, refund_point, delete_flag, 
      check_status, check_by, check_time, 
      create_by, update_by, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{deliveryId.jdbcType=INTEGER}, 
      #{orderType,jdbcType=TINYINT}, #{orderStatus,jdbcType=TINYINT}, #{goodsCount,jdbcType=INTEGER}, 
      #{orderPrice,jdbcType=INTEGER}, #{discountedPrice,jdbcType=INTEGER}, #{saleChannel,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{orderTime,jdbcType=INTEGER}, 
      #{payTime,jdbcType=INTEGER}, #{shipTime,jdbcType=INTEGER}, #{confirmTime,jdbcType=INTEGER}, 
      #{cancelTime,jdbcType=INTEGER}, #{cancelRemark,jdbcType=VARCHAR}, #{cancelType,jdbcType=TINYINT}, 
      #{cancelPrice,jdbcType=INTEGER}, #{refundNum,jdbcType=INTEGER}, #{refundTime,jdbcType=INTEGER}, 
      #{refundRemark,jdbcType=VARCHAR}, #{refundPoint,jdbcType=INTEGER}, #{deleteFlag,jdbcType=TINYINT}, 
      #{checkStatus,jdbcType=TINYINT}, #{checkBy,jdbcType=BIGINT}, #{checkTime,jdbcType=INTEGER}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.wms.entity.UserOrderEntity">
    insert into user_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="orderPrice != null">
        order_price,
      </if>
      <if test="discountedPrice != null">
        discounted_price,
      </if>
      <if test="saleChannel != null">
        sale_channel,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="shipTime != null">
        ship_time,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="cancelRemark != null">
        cancel_remark,
      </if>
      <if test="cancelType != null">
        cancel_type,
      </if>
      <if test="cancelPrice != null">
        cancel_price,
      </if>
      <if test="refundNum != null">
        refund_num,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="refundRemark != null">
        refund_remark,
      </if>
      <if test="refundPoint != null">
        refund_point,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="checkBy != null">
        check_by,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryId != null">
        #{deliveryId.jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null">
        #{orderPrice,jdbcType=INTEGER},
      </if>
      <if test="discountedPrice != null">
        #{discountedPrice,jdbcType=INTEGER},
      </if>
      <if test="saleChannel != null">
        #{saleChannel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="shipTime != null">
        #{shipTime,jdbcType=INTEGER},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=INTEGER},
      </if>
      <if test="cancelRemark != null">
        #{cancelRemark,jdbcType=VARCHAR},
      </if>
      <if test="cancelType != null">
        #{cancelType,jdbcType=TINYINT},
      </if>
      <if test="cancelPrice != null">
        #{cancelPrice,jdbcType=INTEGER},
      </if>
      <if test="refundNum != null">
        #{refundNum,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=INTEGER},
      </if>
      <if test="refundRemark != null">
        #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="refundPoint != null">
        #{refundPoint,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.wms.entity.UserOrderEntity">
    update user_order
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryId != null">
        delivery_id = #{deliveryId.jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="orderPrice != null">
        order_price = #{orderPrice,jdbcType=INTEGER},
      </if>
      <if test="discountedPrice != null">
        discounted_price = #{discountedPrice,jdbcType=INTEGER},
      </if>
      <if test="saleChannel != null">
        sale_channel = #{saleChannel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=INTEGER},
      </if>
      <if test="shipTime != null">
        ship_time = #{shipTime,jdbcType=INTEGER},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=INTEGER},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=INTEGER},
      </if>
      <if test="cancelRemark != null">
        cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
      </if>
      <if test="cancelType != null">
        cancel_type = #{cancelType,jdbcType=TINYINT},
      </if>
      <if test="cancelPrice != null">
        cancel_price = #{cancelPrice,jdbcType=INTEGER},
      </if>
      <if test="refundNum != null">
        refund_num = #{refundNum,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=INTEGER},
      </if>
      <if test="refundRemark != null">
        refund_remark = #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="refundPoint != null">
        refund_point = #{refundPoint,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="checkBy != null">
        check_by = #{checkBy,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.wms.entity.UserOrderEntity">
    update user_order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      delivery_id = #{deliveryId.jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=TINYINT},
      order_status = #{orderStatus,jdbcType=TINYINT},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      order_price = #{orderPrice,jdbcType=INTEGER},
      discounted_price = #{discountedPrice,jdbcType=INTEGER},
      sale_channel = #{saleChannel,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=INTEGER},
      ship_time = #{shipTime,jdbcType=INTEGER},
      confirm_time = #{confirmTime,jdbcType=INTEGER},
      cancel_time = #{cancelTime,jdbcType=INTEGER},
      cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
      cancel_type = #{cancelType,jdbcType=TINYINT},
      cancel_price = #{cancelPrice,jdbcType=INTEGER},
      refund_num = #{refundNum,jdbcType=INTEGER},
      refund_time = #{refundTime,jdbcType=INTEGER},
      refund_remark = #{refundRemark,jdbcType=VARCHAR},
      refund_point = #{refundPoint,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      check_status = #{checkStatus,jdbcType=TINYINT},
      check_by = #{checkBy,jdbcType=BIGINT},
      check_time = #{checkTime,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from user_order
    where delete_flag = 0
  </select>
</mapper>